
:root {
    --background: black
    --primary: #1e50ff;
    --secondary: #272d37;
    --btn-bg: #050d26;
    --bg-azul-10: #e9eeff;
    --bgwhite: #fff;
    --bg-electric: #f0fbff;
    --nav-bg: #0f1525;

    --text-gray: #adb9c7;
    --text-white: #f3f4f6;

    --fire: #ff6d00;
    --electric: #64d3ff;
    }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header {
    background: var(--secondary);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px 0px 30px;
    position: fixed;
    top: 0;
}

.navbar {
    font-family: 'Signika Negative', sans-serif;
}

.logo {
    height: 40%;
}

.navbar, .lista {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    gap: 150px;

}

.lista {
    gap: 30px;
}

.lista li:first-child > a{
    color: var(--text-white);
    font-weight: 600;
}